<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head', {title: 'Busquedas | FreeLab' }) %>
<body>
    <%- include('./../partials/header')%>
    <main class="lp__main">

                <% if (individuals.length) { %>
                    <% individuals.forEach(i => { %>
                        <a href="/productos/detalleProyecto/<%= i.Individual.idProject %>">Ir al proyecto</a>
                        <p> <%= i.Individual.idSpecialty %></p>
                        <p>About: <%= i.Individual.about %></p>
                        <p>Price: <%= i.Individual.price %></p>
                        <p>Knowledge ID: <%= i.Individual.idKnowledge %></p>
                    <% }) %>
                <% } else { %>
                    <h2>No hay postulaciones</h2>
                <% } %>	
        </section>
    </main>
    <%- include('./../partials/footer')%>
    <%- include('./../partials/scripts') %>
</body>
</html>