<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Home | FreeLab' }) %>
<body>
    <%- include('../partials/header')%>
    <main class="main__PD">
        <section class="main__PD__section section__misDatos">
            <div class="section__misDatos__contImg">
                <img src="/images/imagen-ejemplo.jpg" alt="imagen de perfil" class="section__misDatos--img">
            </div>
            <h3 class="section__misDatos--h3">Guida Lurdes Rossi</h3>
            <div class="section__misDatos__icons">
                <%- include('../partials/starts')%>
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="section__misDatos__ContLinks">
                <ul>
                    <li><a>Portafolio</a></li>
                    <li><a>Portafolio</a></li>
                    <li><a>Portafolio</a></li>
                </ul>
            </div>
        </section>
        <section class="main__PD__section section__sobreMi">
            <article class="section__sobreMi__article">
                <h3 class="section__sobreMi__article--h3">Sobre mi</h3>
                <p class="section__sobreMi__article--p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus
                    lacus, eu aliquet risus feugiat nec. Nulla facilisi. Etiam in sollicitudin diam. Quisque viverra ante est, a
                    feugiat mauris elementum et. Duis a feugiat sem. Ut in orci eget est fermentum rhoncus in eu sapien. Integer
                    quis commodo ex, et finibus velit. Donec semper sed mauris ut suscipit. Donec sit amet iaculis magna.
                </p>
            </article>
            <%- include('../partials/habilidadesManejadas')%>
        </section>
        <section class="main__PD__section section__review">
            <article class="section__review__proOf">
                <h3 class="section__review__proOf--h3">4.5</h3>
                <p class="section__review__proOf--promedio">Promedio de 2 opiniones</p>
            </article>
            <article class="section__review__ordenC">
                <p class="section__review__ordenC--OrdenarPor">Ordenar por: </p>
                <h5 class="section__review__ordenC--filtro">Más relevantes</h5>
                <i class="fa-solid fa-v section__review__ordenC--icon"></i>
            </article>
            <%- include('../partials/comentario')%>
            <%- include('../partials/comentario')%>
        </section>
        <section class="main__PD__section section__contacto">
            <article>
                <h4>$98.000</h4>
                <p>Por Hora</p>
            </article>
            <article>
                <i class="fa-regular fa-paper-plane section__contacto--iconContac"></i>
                <h3 class="section__contacto--h3">Contáctame</h3>
            </article>
        </section>
    </main>
    <%- include('../partials/footer')%>
    <%- include('../partials/scripts') %>
</body>
</html>





<!-- LINKS QUE FUNCIONAN
<li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/ingreso">Login</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/registro">Register</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/carrito">Carrito</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/">home</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">Trabajos</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productos/detallePublicacion">detailPOst</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productos/detalle">detail</a></li>

-->