<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editar Servicio/Proyecto | FreeLab'}) %>
<body>
    <%- include('../partials/header') %>

    <!-- Resto del contenido del cuerpo del documento -->
    <div class="container mt-5">
        <div class="card edit-product-card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Editar Servicio/Proyecto</h1>
            </div>
            <div class="card-body">
                <form action="/productos/editar" method="post">

                    <!-- Agregar un input oculto para el ID del producto -->
                    <input type="hidden" name="id" value="<%= product.id || '' %>">

                    <div class="form-group">
                        <label for="nombre" class="edit-product-label">Nombre del Servicio/Proyecto:</label>
                        <input type="text" class="form-control edit-product-input" id="nombre" name="nombre" value="<%= product.name %>" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion" class="edit-product-label">Descripción:</label>
                        <textarea class="form-control edit-product-textarea" id="descripcion" name="descripcion" rows="4"><%= product.description %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="habilidades" class="edit-product-label">Descripción de habilidades:</label>
                        <textarea class="form-control edit-product-textarea" id="habilidades" name="habilidades" rows="4"><%= product.skills %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="portfolio" class="edit-product-label">Link a Portfolio:</label>
                        <input type="url" class="form-control edit-product-input" id="portfolio" name="portfolio" value="<%= product.portfolio %>">
                    </div>

                    <div class="form-group">
                        <label for="redes_sociales" class="edit-product-label">Links a Redes Sociales:</label>
                        <input type="url" class="form-control edit-product-input" id="redes_sociales" name="redes_sociales" value="<%= product.redes_sociales %>">
                    </div>

                    <div class="form-group">
                        <label for="imagenes" class="edit-product-label">Imágenes del Proyecto/Servicio (separadas por comas):</label>
                        <input type="file" class="form-control-file edit-product-file" id="imagenes" name="imagenes[]" multiple accept="image/*">
                        <small class="form-text text-muted">Seleccione una o varias imágenes (formatos permitidos: PNG, JPEG, GIF).</small>
                    </div>

                    <div class="form-group">
                        <label for="categoria" class="edit-product-label">Categoría:</label>
                        <input type="text" class="form-control edit-product-input" id="categoria" name="categoria" value="<%= product.category %>">
                    </div>

                    <div class="form-group">
                        <label for="precio" class="edit-product-label">Precio:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text edit-product-input">$</span>
                            </div>
                            <input type="number" class="form-control edit-product-input" id="precio" name="precio" value="<%= product.price %>" required>
                            <div class="input-group-append">
                                <select class="custom-select edit-product-select" id="divisa" name="divisa" required>
                                    <option value="ARS" <%= product.divisa === 'ARS' ? 'selected' : '' %>>ARS</option>
                                    <option value="USD" <%= product.divisa === 'USD' ? 'selected' : '' %>>USD</option>
                                    <option value="EUR" <%= product.divisa === 'EUR' ? 'selected' : '' %>>EUR</option>
                                    <!-- Agrega más opciones según tus necesidades -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary edit-product-btn">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer')%>
</body>
</html>
