<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

  <body>

    <%-include('../partials/header', {title: 'Home | FreeLab' })%>

      <main class="main__create w-100">
        <h4>creacion de proyecto</h4>

        <form class="form__create formulario__projectCreate" action="/productos/agregarProyecto" method="POST">
            <div class="mb-3">
              <label for="title">Title:</label><br>
              <input type="text" id="title" name="title" required>
            </div>

            <div class="mb-3">
              <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                <option value="" selected hidden></option>
                <% categories.forEach(c => { %>
                  <option value="<%= c.id %>"><%= c.name %></option>
                <% }) %>
              </select>
            </div>

            <div class="form__create mb-3">
              <label for="description">Description:</label><br>
              <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
            </div>       

            <div>
              <select name="skilles" class="form-select" id="skilles" aria-label="Floating label select example">
                <option value="" selected hidden></option>
                <% skills.forEach(s => { %>
                  <option value="<%= s.id %>"><%= s.name %></option>
                <% }) %>
              </select>
            </div>

            <input id="idStatus" name="idStatus" type="number" value="1" hidden>

            <!--Aca va todo lo de perfil personal-->
          <section class="individuals__container">
            <article class="individuals__container__data" id="individuals__container__data">
              <div class="mb-3">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" required>
              </div>

              <div class="mb-3">
                <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                  <option value="" selected hidden></option>
                  <% categories.forEach(c => { %>
                    <option value="<%= c.id %>"><%= c.name %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form__create mb-3">
                <label for="description">Description:</label><br>
                <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
              </div>       

              <div>
                <select name="skilles" class="form-select" id="skilles" aria-label="Floating label select example">
                  <option value="" selected hidden></option>
                  <% skills.forEach(s => { %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                  <% }) %>
                </select>
              </div>
            </article>
          </section>
          <button id="add__individuals" type="button">Agregar usuario</button>
            <div class="caja__botones row">
              <div class="col-6 col-md-5 mx-auto">
                <button type="button" class="btn btn-primary"><a href="/usuarios/perfil">Cancelar</a></button>
              </div>
              <div class="col-6 col-md-5 mx-auto">
                <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
            </div>
        </form>
    </main>
    <%-include('../partials/footer')%>
    <%-include('../partials/scripts')%>    
</body>

</html>