<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Editar Servicio/Proyecto | FreeLab' }) %>

<body class="body-pe">
    <%- include('../partials/header') %>

    <div class="container-pe mt-5">
        <div class="card edit-product-card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Editar Servicio/Proyecto</h1>
            </div>
            <div class="card-body-pe">
                <form action="/productos/editar/<%= product.id %>" method="post" enctype="multipart/form-data" autocomplete="on">
                    <!-- Agregar un input oculto para el ID del producto -->
                    <h3>Editando </h3>
                    <input type="hidden" name="id" value="<%= product ? product.id : '' %>">
                    
                    <div class="col-12 mb-3">
                        <label for="name" class="form-editpe">Nombre</label>
                        <input name="name" type="text" class="form-control"  value="<%= product && product.name || '' %>" required>
                    </div>

                    <div class="mb-3">
                        <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                          <option value="" selected hidden></option>
                          <% categories.forEach(c => { %>
                            <option value="<%= c.id %>"><%= c.name %></option>
                          <% }) %>
                        </select>
                      </div>

                      <div class="form__create mb-3">
                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
                      </div>       
          
                      <div>
                        <select name="skilles" class="mul-select" id="skilles" multiple>
                          <% skills.forEach(s => { %>
                            <option value="<%= s.id %>"><%= s.name %></option>
                          <% }) %>
                        </select>
                      </div>
          
                      <input id="idStatus" name="idStatus" type="number" value="1" hidden>
          
                <!-- <div id="imageFieldsContainer">
                     
                        <div class="mb-3 image-field" data-index="2">
                            <label for="additionalImages" class="form-editpe">Seleccionar Imágenes Adicionales</label>
                            <input type="file" name="image" id="additionalImages" accept="image/*" class="form-control" multiple onchange="limitImageSelection(this, 4)">
                        </div>
                    </div>
                    
                        
                    <div class="mb-3">
                        <label for="portfolio" class="form-editpe">Link a Portfolio</label>
                        <input name="portfolio" type="url" class="form-control" id="portfolio" value="<%= product && product.portfolio || '' %>">
                    </div>

                    <div class="mb-3">
                        <label for="redes_sociales" class="form-editpe">Links a Redes Sociales</label>
                        <input name="redes_sociales" type="url" class="form-control" id="redes_sociales" value="<%= product && product.redes_sociales || '' %>">
                    </div> 


                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <label for="precio" class="form-editpe me-2">Precio:</label>
                            <div class="input-group">
                                <span class="input-group-text"> $</span>
                                <input name="price" type="number" class="form-editpe" id="precio" value="<%= product && product.price || '' %>" required>
                                <select class="custom-selectpe" id="divisa" name="currency" required>
                                    <option value="ARS" <%= product && product.currency === 'ARS' ? 'selected' : '' %>>ARS</option>
                                    <option value="USD" <%= product && product.currency === 'USD' ? 'selected' : '' %>>USD</option>
                                    <option value="EUR" <%= product && product.currency === 'EUR' ? 'selected' : '' %>>EUR</option>
                                    <option value="JPY" <%= product && product.currency === 'JPY' ? 'selected' : '' %>>JPY</option>
                                    <option value="GBP" <%= product && product.currency === 'GBP' ? 'selected' : '' %>>GBP</option>
                                    <option value="AUD" <%= product && product.currency === 'AUD' ? 'selected' : '' %>>AUD</option>
                                </select>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-6 col-md-5 mx-auto">
                            <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancelar</button>
                        </div>
                        <div class="col-6 col-md-5 mx-auto">
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>

</body>
</html>
<script>
    function limitImageSelection(input, maxImages) {
        if (input.files.length > maxImages) {
            alert('Solo puedes seleccionar hasta ' + maxImages + ' imágenes.');
            input.value = '';
        }
    }
    </script>