<!DOCTYPE html>
<html lang="es">
<%-include('../partials/head')%>
<body>
    <%-include('../partials/header', {title: 'Home | FreeLab' })%>
    <main class="card edit-product-card">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        agregarIndividual
      </button>
      <%-include('../partials/modal/agregarIndividual',{idProject})%>
      <section class="individuals__container">
        <input type="number" id="duplicateCount" name="duplicateCount" value="1" hidden>
        <!--For de individuals-->
      </section>
      <a href="/usuarios/perfil" class="btn">Finalizar</a>
    </main>
    <%-include('../partials/footer')%>
</body>
<%-include('../partials/scripts')%>    
</html>