<!DOCTYPE html>
<html lang="es">
<%-include('../partials/head')%>
<body>
    <%-include('../partials/header', {title: 'Home | FreeLab' })%>
    <main class="card edit-product-card">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar Perfil
      </button>
      <%-include('../partials/modal/agregarIndividual',{idProject, skills,categories,knowledge,specialty})%>
      <section class="individuals__container">
        <div>
          <% individuals.forEach(i => { %>
            <article class="article__individuals"> 
              <div class="card">
                
                <div class="card-body">
                  <h5 class="card-title">$$ <%= i.price %></h5>
                  <p class="card-text"><%= i.about %></p>
                  <%- include('../partials/habilidadesManejadas',{skills: i.skills})%>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollableModalEdit-Individual">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollableModalEdit-Individual">
                  <i class="fa-solid fa-trash"></i>
              </a>
                </div>
              </div>
              
              <%-include('./modal/edit-individual',{i})%>

              
            </article>
            
          <% }) %> 
          
        </div>
      </section>
      <a href="/productos/editar/<%= idProject %>" class="btn">Anterior</a>
      <a href="/usuarios/perfil" class="btn">Finalizar</a>
    </main>
    <%-include('../partials/footer')%>
</body>
<%-include('../partials/scripts')%>    
</html>