<!-- Modal Scrollable -->
<div class="modal fade" id="scrollableModalPersonal" tabindex="-1" aria-labelledby="scrollableModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scrollableModalLabel">Datos Personales</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/usuarios/edit-personal?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= userLogin.userEmail %>" readonly>
                    </div>
                
                    <div class="mb-3">
                        <label for="freelancerFirstname" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="freelancerFirstname" name="freelancerFirstname" value="<%= freelancerFirstname %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.freelancerFirstname ? errors.freelancerFirstname.msg : null %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="freelancerLastname" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="freelancerLastname" name="freelancerLastname" value="<%= freelancerLastname %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.freelancerLastname ? errors.freelancerLastname.msg : null %></small>
                    </div>
                
                    <div class="mb-3">
                        <select name="freelancerPhoneCode" class="form-select" id="freelancerPhoneCode" aria-label="Floating label select example">
                            <% codN.forEach(country => { %>
                                <option value="<%= country.code %>" <%= freelancerPhoneCode === country.code ? 'selected' : '' %>><%= country.country %> (<%= country.code %>)</option>
                            <% }) %>
                        </select>
                    </div>              
                
                    <div class="mb-3">
                        <label for="freelancerPhone" class="form-label">Phone:</label>
                        <input type="text" class="form-control" id="freelancerPhone" name="freelancerPhone" value="<%= freelancerPhone %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.freelancerPhone ? errors.freelancerPhone.msg : null %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="mainImage" class="form-label">Image:</label>
                        <input type="text" class="form-control" id="mainImage" name="mainImage" value="<%= userLogin.mainImage %>">
                        <!---->
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>