<!-- Modal Scrollable -->
<div class="modal fade" id="scrollableModalPersonal" tabindex="-1" aria-labelledby="scrollableModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scrollableModalLabel">Datos Personales</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/usuarios/edit-personal?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= userLogin.email %>" readonly>
                    </div>
                
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= firstName %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= lastName %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></small>
                    </div>

                    <div class="mb-3">
                        <label for="about" class="form-label">About:</label>
                        <input type="text" class="form-control" id="about" name="about" value="<%= about %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.about ? errors.about.msg : null %></small>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>