<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Home | FreeLab' }) %>

<body class="admin__home">

  <%- include('./partials/header') %>
  

  <%- include('./partials/filtroAdmin.ejs') %>
  
  <div class="admin__table-container">
    <table class="admin__table">
      <thead>
        <tr>
          <th class="admin__table__header admin__table__header--id">ID <i class="fa-solid fa-sort"></i></th>
          
          <th class="admin__table__header admin__table__header--nombre">Nombre</th>
          <th class="admin__table__header admin__table__header--email">Descripción</th>
          <th class="admin__table__header admin__table__header--acciones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% switch (optionType) { case 'Empresas': %>
          <% empresas.forEach(e => { %>
            <tr>
              <td><%= e.id %></td>
              <td><%= e.companyName %></td>
              <td><%= e.description %></td>
              <td class="admin__table-cell admin__table-cell--acciones">
                <button class="admin__action-button" onclick="toggleBloqueo(this, '<%= e.id %>')">Bloquear Usuario</button>
              </td>
            </tr>
          <% }) %>
          <% break; case 'Freelancers': %>
            <% freelancers.forEach(f => { %>
              <tr>
                <td><%= f.id %></td>
                <td><%= `${f.firstName} ${f.lastName}` %></td>
                <td></td>
                <td class="admin__table-cell admin__table-cell--acciones">
                  <button class="admin__action-button" onclick="toggleProyecto(this, '<%= f.id %>')">Finalizar Proyecto</button>
                </td>
              </tr>
            <% }) %>
          <% break; default: %>
            <% projects.forEach(p => { %>
              <tr>
                <td><%= p.id %></td>
                <td><%= p.title %></td>
                <td><%= p.description %></td>
                <td class="admin__table-cell admin__table-cell--acciones">
                  <button class="admin__action-button" onclick="deleteProject('<%= p.id %>')">Finalizar proyecto</button>
                </td>
              </tr>
            <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>


  
  <script>
    function sortTableById() {
      const idHeader = document.querySelector('.admin__table__header--id');
      let ascending = true;
    
      idHeader.addEventListener('click', function() {
        const table = document.querySelector('.admin__table');
        const tbody = table.querySelector('tbody');
        const rows = Array.from(tbody.querySelectorAll('tr'));
    
        rows.sort((a, b) => {
          const idA = parseInt(a.cells[0].innerText);
          const idB = parseInt(b.cells[0].innerText);
          return ascending ? idA - idB : idB - idA;
        });
    
        tbody.innerHTML = '';
        rows.forEach(row => tbody.appendChild(row));
        
        ascending = !ascending; 
      });
    }
    

    window.addEventListener('DOMContentLoaded', function() {
      sortTableById();
    });
    
    function toggleBloqueo(button, id) {
  
        var usuarioBloqueado = false; 
        var mensaje = "";

        if (!usuarioBloqueado) {
            mensaje = "Usuario bloqueado con éxito.";
            button.innerText = "Desbloquear Usuario";
            usuarioBloqueado = true; 
        } else {
            mensaje = "Usuario desbloqueado con éxito.";
            button.innerText = "Bloquear Usuario";
            usuarioBloqueado = false; 
        }

        alert(mensaje);
    }
    

  </script>
<%- include('./partials/footer') %>
</body>

</html>
