<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Home | FreeLab' }) %>

<body class="admin__home">

  <%- include('./partials/headerAdmin') %>

  <table>
    <thead>
      <tr>
        <th id="admin__table__thead__tr__th--id">ID</th>
        <th id="admin__table__thead__tr__th--nombre">Nombre</th>
        <th id="admin__table__thead__tr__th--email">Email</th>
        <th id="admin__table__thead__tr__th--acciones">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(user => { %>
        <tr>
          <td class="tbody__tr__td--id"><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <div class="admin__acciones">
             <!--  <a href=""><i class="fa-solid fa-eye"></i></a>
              <a href=""><i class="fa-solid fa-pencil"></i></a>
              <a href=""><i class="fa-solid fa-trash"></i></a> -->

              <a href=""><i class="fa-solid fa-file"></i></a>
              <a href=""><i class="fa-solid fa-file-pen"></i></a>
              <a href=""><i class="fa-solid fa-file-circle-xmark"></i></a>
            </div>
        </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <% include('./partials/scripts') %>
</body>
</html>