<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Home | FreeLab' }) %>

<body class="admin__home">

  <%- include('./partials/headerAdmin') %>

  <table class="admin__table">
    <thead>
      <tr>
        <th class="admin__table__header admin__table__header--id">ID</th>
        <th class="admin__table__header admin__table__header--nombre">Nombre</th>
        <th class="admin__table__header admin__table__header--email">habilidades</th>
        <th class="admin__table__header admin__table__header--acciones">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.servicios.forEach(user => { %>
        <tr>
          <td class="admin__table__tbody__tr__td admin__table__tbody__tr__td--id"><%= user.id %></td>
          <td class="admin__table__tbody__tr__td admin__table__tbody__tr__td--nombre"><%= user.name %></td>
          <td class="admin__table__tbody__tr__td admin__table__tbody__tr__td--email"><%= user.skills %></td>
          <td class="admin__table__tbody__tr__td admin__table__tbody__tr__td--acciones">
            <div class="admin__table__tbody__tr__div">
              <a href="#" class="admin__table__tbody__tr__div--link admin__table__tbody__tr__div--eye"><i class="fa-solid fa-eye"></i></a>
              <a href="/productos/editar/<%= user.id %>" class="admin__table__tbody__tr__div--link admin__table__tbody__tr__div--pencill"><i class="fa-solid fa-pencil"></i></a>
              <!--Modal Eliminar-->
              <button type="button" class="action-button delete" data-bs-toggle="modal" data-bs-target="#warningRemoveModal<%= user.id %>">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <%- include('./partials/modal/confirmacionEliminar',{user}) %>
          </td>
        </tr>
      <% }); %>
  
    </tbody>
  </table>
  <!--Si se borra este scrip, no funciona-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <% include('./partials/scripts') %>
</body>
</html>