<!DOCTYPE html>
<html lang="es">
<%- 
    include('./partials/head', {title: 'Home | FreeLab'})
%>
<body class="body__index">
    <%- include('./partials/header')%>
    <main class="main">
        <section class="main__section">
            <h1 class="Main__section__primerTitulo">
                Busca una solucion para tu proyecto!
            </h1>
        </section>
        <section class="main__section__2">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <article class="article__1">
                            <img src="/images/RedCliente.png" alt="RedCliente" id="image1">
                            <p class="article__1__p"> En Freelab, nos dedicamos a simplificar la conexión entre freelancers altamente
                                calificados</p>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="article__2">
                            <img src="/images/Saludo.png" alt="Saludo" id="image2">
                            <div class="article__2__leyenda">
                                <p>Somos un equipo apasionado</p>
                            </div>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="article__3">
                            <p>Proporcionamos una amplia Red de busqueda para cumplir tus necesidades</p>
                            <img src="/images/RedFreeLab.jpg" alt="equipo freelancers" id="image3">
                        </article>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        
        <section class="Home__projects">
            <h2>Ultimos agregados en FreeLab!</h2>
            <article>
                <h3>Postulaciones</h3>
                <% projects.forEach(p=> { %>
                    <div class="card mb-3 description" style="max-width: 600px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/productos/detalleProyecto/<%= p.id %>">
                                            <%= p.title %>
                                        </a></h5>
                                    <p class="card-text"><small class="text-body-secondary">
                                            <%= p.category %>
                                        </small></p>
                                    <p class="card-text ">
                                        <%= p.description %>
                                    </p>
                                    <div class="d-flex justify-content-end">
                                        <p class="card-text">$<%= p.price %></p>
                                        <p><%= p.currency %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </article>
        </section>
    </main>
    <%- include('./partials/footer')%>
    <%- include('./partials/scripts') %>
</body>
</html>