<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Home | FreeLab' }) %>
<body class="carrito">
    <%- include('./partials/header')%>
    <main class="main--carrito">
        <section class="main__section--carrito">
            <h2>Carrito de compras:</h2>
            <%- include('./partials/tarjetaDeCarrito')%>
            <%- include('./partials/tarjetaDeCarrito')%>
        </section>
        <section>
            <article>
                <p>Total Final: </p>
                <h3>$45000</h3>
            </article>
            <article class="cierre--linea1">
                <p>Total de horas</p>
                <p>45</p>
            </div>
            <div class="cierre--linea2">
                <button>CONTINUAR COMPRANDO</button>
                <button>COMPRAR</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <%- include('./partials/scripts') %>
</body>
</html>