<!-- Modal Scrollable -->
<div class="modal fade" id="scrollableModalPersonal" tabindex="-1" aria-labelledby="scrollableModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scrollableModalLabel">Datos Personales</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/productos/edit-individual?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="specialty">Título:</label><br>
                        <input type="text" id="specialty" name="specialty" value="<%= lastName %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.specialty ? errors.specialty.msg : null %></small>
                    </div>
                    
                        <div class="mb-3">
                        <label for="idCategory">Categoría:</label><br>
                        <select name="idCategory" class="form-select" id="idCategory" aria-label="Floating label select example">
                            <option value="" selected hidden></option>
                            <% categories.forEach(c => { %>
                            <option value="<%= c.id %>"><%= c.name %></option>
                            <% }) %>
                        </select>
                        <small class="text-danger ms-3"><%= locals.errors && errors.idCategory ? errors.idCategory.msg : null %></small>
                        </div>
        
                        <div class="form__create mb-3">
                        <label for="about">Descripción:</label><br>
                        <textarea id="about" name="about" rows="4" cols="50" value="<%= lastName %>"></textarea><br>
                    <small class="text-danger ms-3"><%= locals.errors && errors.about ? errors.about.msg : null %></small>    
                    </div>
                        
                        <div class="mb-3">
                            <label for="price">Precio:</label><br>
                            <input type="number" id="price" name="price" value="<%= lastName %>">
                        <small class="text-danger ms-3"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
                        </div>
                        
                        <div>
                        <label for="skillesInd">Habilidades:</label><br>
                        <select name="skillesInd" class="mul-select" id="skilles" multiple>
                            <% skills.forEach(s => { %>
                            <option value="<%= s.id %>"><%= s.name %></option>
                            <% }) %>
                        </select>
                        <small class="text-danger ms-3"><%= locals.errors && errors.skillesInd ? errors.skillesInd.msg : null %></small>
                        </div>
                                  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>