<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form__create formulario__projectCreate" action="/productos/agregarIndividual/<%= idProject %>" method="POST">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <article class="individuals__container__data" id="individuals__container__data">
                    <div class="mb-3">
                    <label for="specialty">Título:</label><br>
                    <input type="text" id="specialty" name="specialty" required>
                    </div>
                
                    <div class="mb-3">
                    <label for="idCategory">Categoría:</label><br>
                    <select name="idCategory" class="form-select" id="idCategory" aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% categories.forEach(c => { %>
                        <option value="<%= c.id %>"><%= c.name %></option>
                        <% }) %>
                    </select>
                    </div>
    
                    <div class="form__create mb-3">
                    <label for="about">Descripción:</label><br>
                    <textarea id="about" name="about" rows="4" cols="50" required></textarea><br>
                    </div>
                    
                    <div class="mb-3">
                        <label for="price">Precio:</label><br>
                        <input type="number" id="price" name="price" required>
                    </div>
                    
                    <div>
                    <label for="skillesInd">Habilidades:</label><br>
                    <select name="skillesInd" class="mul-select" id="skilles" multiple>
                        <% skills.forEach(s => { %>
                        <option value="<%= s.id %>"><%= s.name %></option>
                        <% }) %>
                    </select>
                    </div>
                    <div class="form-floating">
                        <select name="specialty"
                          class="form-select <%= (locals.errors && errors.specialty)  && 'is-invalid'%>"
                          id="specialty" aria-label="Floating label select example">
                          <option value="" selected hidden></option>
                          <% specialty.forEach(s=> { %>
                            <option value="<%= s.id %>" <%=(locals.old && old.specialty) &&
                              old.specialty==s.id ? 'selected' : null %>><%= s.name %>
                            </option>
                            <% }) %>
                        </select>
                        <label for="typeproducts">Producto</label>
                      </div>
                      <div class="form-floating">
                        <select name="knowledge"
                          class="form-select <%= (locals.errors && errors.knowledge)  && 'is-invalid'%>"
                          id="knowledge" aria-label="Floating label select example">
                          <option value="" selected hidden></option>
                          <% knowledge.forEach(k=> { %>
                            <option value="<%= k.id %>" <%=(locals.old && old.knowledge) && old.knowledge==k.id ? 'selected' : null %>><%= k.name %>
                            </option>
                            <% }) %>
                        </select>
                        <label for="typeproducts">Producto</label>
                      </div>
    
                </article>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>